/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
  .Weather{
    border: 1px solid red;
    width: 700px;
    height: 1000px;
  }
  .inner-container{
     width: 100%;
    height: 600px;
    border: 1px solid red; 
   }
  .search-container{
    width: 700px;
    height: 50px;
    border-radius: 5px;
    padding-left: 40px;
    
  }
  .button{
    margin-left: 700px;
    height: 50px;
  }
  
  .Daily-conatiner{
    border: 1px solid red;
    width: 700px;
    height: 120px;
  
  }
  
  .last-container{
    border: 1px solid red;
    width: 700px;
    height: 400px;
  }
  .last1{
    border: 1px solid red;
    font-size: 50px;
    font-weight:500;
  }
  .graph1{
    border: 1px solid red;
    height: 300px;
  }
  .pressurehumidity{
    border: 1px solid green;
    margin-top: 50px;
    display: flex;
    
  }
  .pressurehumidity > div{
    border: 1px solid green;
    width: 50%;
    margin: 10px;
    padding: 20px;
    height: 60px;
  }
  .sunrisesunset{
    border: 1px solid green;
    display: flex;
  }
  .sunrisesunset > div{
    border: 1px solid green;
    width: 50%;
    margin: 10px;
    padding: 20px;
    height: 60px;
  }
  .sunrise{
    margin-left:-7%;
  }
  .sunset{
    margin-left:90%; 
  } 
  .pressure{
    border: 1px solid red;
    width: 45%;
    height: 100px;

  }
  .humidity{
    border: 1px solid red;
    width: 45%;
    height: 100px;
  }   
  */



.App {
  width:50%;
  margin: auto;
  padding: 10px;
  border:1px solid black
}
form{
  width: 84.5%;
}
form > .search_box{
  border-color: #c4c1c1;
  border-radius:5px;
  text-transform: capitalize;
  width:100%;
  height:50px;
  padding: 0px 50px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}
._flex{
  display:flex;
  width: 100%;
  /* border: 1px solid yellow; */
  position: relative;
}
.Location_img{
  width:20px;
  height:20px;
  position: absolute;
  top:15px;
  left:20px;
}
.Search_img{
  width:20px;
  height:20px;
  position: absolute;
  top:16px;
  right:20px;
}
/* .Graph_div{
  width:100%;
  height:60%;
  border:1px solid greenyellow;
} */
.forecast{
  /* border:1px solid blueviolet; */
  width: 100%;
  height:190px;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  margin-top: 2%;
}
._iforecast{
  /* border: 1px solid purple; */
  display: inline-block; 
  width:110px;
  height:88%; 
  text-align: center;
}
.Weather_info{
  /* border: 1px solid red; */
  width:100%;
  height:40%;
}
.weekdays{
  /* border:1px solid green; */
  width:100%;
  height:20px;
  color: #2a2c2e;
  font-family: sans-serif;
  font-weight: bold;
}
.span{
  display: inline-block;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
  color:#2a2c2e;
  color: #2a2c2e;
  /* border: 1px solid blueviolet; */
  position: relative;
  top:-14px;
  padding-right: 7%;
}
.mintemp{
  color: gray;
}
.Weather_image{
width:100%;
height:59%;
}
.image{
  height:55%;
  width:30%;
}
.Weather_status{
  font-family: sans-serif;
  font-weight: 600;
  color:#959596;
}
.app{
    overflow-x: scroll;
    overflow-y: scroll;
    /* border:1px solid green; */
    width: 98%;
}
.GraphDiv{
  margin-top: 10px;
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
}
.row{
width:100%;
}
.TempInfo{
  /* border:1px solid chartreuse; */
  width:100%;
  height:8%;
}
.LowerGraph1{
/* border:1px solid goldenrod; */
padding-left: 5%;
}
.TempDetails{
  /* border:1px solid greenyellow; */
  height:9%
}
.TempDetails1{
  /* border:1px solid red; */
  height:9%
}
